/* work sans font from google fonts */
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans:wght@400;500;600;700;800&display=swap');


  /* shared styles */

  *{
    font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
  }

  .text-gray{
    font-size: 1rem;
    font-weight: 400;
    color: #727272;
  }

  .all-title{
    color: #131313;
    font-size: 2.82rem;
    font-weight: 700;
 }


  /* header styles */
/* nav related styles */


  header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
  }

  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav > ul{
    display: flex;
  }

  nav li{
    list-style: none;
  }

  nav a{
    text-decoration: none;
    margin-right: 30px;
    color:#424242 ;
    font-size: 1rem;
    font-weight: 500;
  }

  /* banner related styles */
  
  .banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
  }

  .banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
  }


  .btn-prmry{
    border-radius: 8px;
background: #FF900E;
color: #FFF;
padding: 20px 25px;
font-size: 1.25rem;
font-weight: 600;
cursor: pointer;
border: 0;
margin: 32px 0 50px 0;
  }

  .banner img{
    width: 100%;
  }

  /* main styles */
  main{
    max-width: 1440px;
    margin: auto;
  }

  /* teams section styles */

  .teams-container{
    display: flex;
    align-items: center;
  }

  .teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
  }

  .teams-content{
    padding: 0 70px;
  }

  .quick-list{
    color: #727272;
    font-size: 2.82rem;
    font-weight: 500;
  }

  .of-our{
    font-size: 2.82rem;
    font-weight: 500;
    color:#131313 ;
  }

  .features{
    font-size: 2.82rem;
    font-weight: 500;
    color: #FF900E;
  }


  /* feature section style */

  .feature{
    margin-top: 130px;
    display: flex;
    gap: 146px;
  }

  .feature-content .card{
    padding: 30px;
    margin-bottom: 25px;
    border-radius: 8px;
background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  }

  .feature-content .all-title{
    border-left: 5px solid #FF900E;
    padding-left: 21px;
  }
  .ten-years-badge{
    border-radius: 8px;
background: #FF900E;
color: #FFF;
width: 342px;
  }

  .ten-years-badge h2{
    font-size: 4.06rem;
    font-weight: 700;
  }

.ten-years-badge p{
  font-size: 1.56rem;
  font-weight: 500;
}



  /* facts section styles */

  .facts-cards-container{
    display: flex;
    justify-content: space-around;
  }

  .facts-cards-container .card{
    border-radius: 8px;
border: 1px solid #FF900E;
text-align: center;
padding: 40px 30px;
  }

  .facts-cards-container .card-stats{
    font-size: 2.82rem;
    font-weight: 600;
    color: #424242;
    margin: 5px 0;
  }

  .facts-cards-container .card-title{
    font-size: 1.25rem;
    font-weight: 600;
    color: #727272;
    margin: 5px 0;
  }

  /* sponsors section styles */

  .sponsors{
    text-align: center;
  }

  .sponsors-img-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
  }

.sponsors-img-container img{
  width: 165px;
}


  /* responsive media query */


  /* mobile phone or small devices */

  @media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav,
    .sponsors-img-container,
    .facts-cards-container,
    .teams-container{
        flex-direction: column;
    }
    .teams-img-container{
        grid-template-columns: 1fr;
    }
    .teams-content,.facts-cards-container{
        padding: 0 20px;
      }
      .facts-cards-container{
        gap: 20px;
      }
  }

/* tablet or medium devices */

@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 50px;
    }
    nav,
    .teams-container,
    .sponsors-img-container{
        flex-direction: column;
    }
}